.dropbtn {
  color: white;
  padding: 25px;
  font-size: 16px;
  background-image: url("chrome-extension://okankfflagppplpegecfolfmndeamimh/images/MentorGoal48.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transition: 0.5s;
  border: none;
}


.dropup {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.gigadiv {
  position: absolute;
  right: 3%;
  bottom: 2%;
  z-index: 5;
}


.dropup-content {
  position: absolute;
  background-color: white;
  width: 360px;
  height: 424px;
  bottom: 50px;
  right: 20px;
  border-radius: 16px;
  margin-bottom: 35px;
  box-shadow: 1px 1px 3px 1px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}